.DayPicker {
  display: inline-block;
  font-size: 1rem;
}
.DayPicker-wrapper {
  position: relative;
  flex-direction: row;
  padding-bottom: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.DayPicker-Month {
  display: table;
  margin: 1em 1em 0;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.DayPicker-NavButton {
  position: absolute;
  top: 1em;
  right: 1.5em;
  left: auto;
  display: inline-block;
  margin-top: 2px;
  width: 1.25em;
  height: 1.25em;
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  color: #8b9898;
  cursor: pointer;
}
.DayPicker-NavButton:hover {
  opacity: 0.8;
}
.DayPicker-NavButton--prev {
  margin-right: 1.5em;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC");
}
.DayPicker-NavButton--next {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg==");
}
.DayPicker-NavButton--interactionDisabled {
  display: none;
}
.DayPicker-Caption {
  display: table-caption;
  margin-bottom: 0.5em;
  padding: 0 0.5em;
  text-align: left;
}
.DayPicker-Caption > div {
  font-weight: 500;
  font-size: 1.15em;
}
.DayPicker-Weekdays {
  display: table-header-group;
  margin-top: 1em;
}
.DayPicker-WeekdaysRow {
  display: table-row;
}
.DayPicker-Weekday {
  display: table-cell;
  padding: 0.5em;
  color: #8b9898;
  text-align: center;
  font-size: 0.875em;
}
.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}
.DayPicker-Body {
  display: table-row-group;
}
.DayPicker-Week {
  display: table-row;
}
.DayPicker-Day {
  border-radius: 50%;
  text-align: center;
}
.DayPicker-Day,
.DayPicker-WeekNumber {
  display: table-cell;
  padding: 0.5em;
  vertical-align: middle;
  cursor: pointer;
}
.DayPicker-WeekNumber {
  min-width: 1em;
  border-right: 1px solid #eaecec;
  color: #8b9898;
  text-align: right;
  font-size: 0.75em;
}
.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}
.DayPicker-Footer {
  padding-top: 0.5em;
}
.DayPicker-TodayButton {
  border: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: #4a90e2;
  font-size: 0.875em;
  cursor: pointer;
}
.DayPicker-Day--today {
  color: #d0021b;
  font-weight: 700;
}
.DayPicker-Day--outside {
  color: #8b9898;
  cursor: default;
}
.DayPicker-Day--disabled {
  color: #dce0e0;
  cursor: default;
}
.DayPicker-Day--sunday {
  background-color: #f7f8f8;
}
.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #dce0e0;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(
    .DayPicker-Day--outside
  ) {
  position: relative;
  background-color: #4a90e2;
  color: #f0f8ff;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(
    .DayPicker-Day--outside
  ):hover {
  background-color: #51a0fa;
}
.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(
    .DayPicker-Day--selected
  ):not(.DayPicker-Day--outside):hover {
  background-color: #f0f8ff;
}
.DayPickerInput {
  display: inline-block;
}
.DayPickerInput-OverlayWrapper {
  position: relative;
}
.DayPickerInput-Overlay {
  position: absolute;
  left: 0;
  z-index: 1;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.Input_input__gCIPK,
.Input_multiSelect__yDUpo,
.Input_select__4ESiv {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
  padding: 15px;
}
.Input_input__gCIPK:disabled,
.Input_multiSelect__yDUpo:disabled,
.Input_select__4ESiv:disabled {
  background-color: rgba(184, 182, 182, 0.1);
  cursor: not-allowed;
}
.Input_select__4ESiv {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border-radius: 3px;
  display: block;
  width: 100%;
}
.Input_multiSelect__yDUpo {
  padding: 4px;
}
.Input_multiSelect__yDUpo > div > div > div {
  border: 0 !important;
}
.Input_inputGroup__cOu_0 {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.Input_inputGroup__cOu_0 .Input_input__gCIPK,
.Input_inputGroup__cOu_0 .Input_multiSelect__yDUpo,
.Input_inputGroup__cOu_0 .Input_select__4ESiv {
  margin-top: 5px;
}
.Input_inputGroupHorizontal__wd6hG {
  flex-direction: row;
}
.Input_inputGroupHorizontal__wd6hG .Input_input__gCIPK,
.Input_inputGroupHorizontal__wd6hG .Input_multiSelect__yDUpo,
.Input_inputGroupHorizontal__wd6hG .Input_select__4ESiv {
  height: 100%;
  flex: 1 1;
  margin-right: 10px;
  margin-top: 0;
}
.Input_label__5uJx3 {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.Input_formErrors__tT3SX {
  background-color: rgba(242, 114, 54, 0.3);
  border-radius: 3px;
  padding: 10px;
}
.Input_formSuccess__uXnRy {
  background-color: rgba(108, 186, 45, 0.16);
  border-radius: 3px;
  padding: 10px;
  color: #55872d;
}
.Input_formErrorItem__YCV_U {
  display: block;
  font-size: 14px;
}
.Input_formErrorItem__YCV_U:not(:last-child) {
  margin-bottom: 10px;
}
.Input_checkboxItem__VGAcn {
  padding: 5px 0;
}
.Input_checkboxItem__VGAcn input {
  margin-right: 10px;
}
.Input_checkboxItem__VGAcn label {
  font-size: 14px;
}
.Input_closeButton__zkuCE {
  margin-left: auto;
  padding: 4px;
  color: green;
  font-weight: 700;
  cursor: pointer;
}
.Button_button__PjVhE {
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}
.Button_button__PjVhE:focus {
  outline: none;
}
.Button_button__PjVhE:disabled {
  background-color: gray;
  border-color: gray;
  cursor: not-allowed;
}
.Button_basic__8vKgs {
  background-color: transparent;
  border-color: transparent;
  color: #55872d;
}
.Button_outline__EsWgH {
  background-color: #fff;
  border-color: #55872d;
  color: #55872d;
}
.Button_primary___XGO6 {
  background-color: #2704b2;
  border-color: #2704b2;
  color: #fff;
}
.Button_custom__35uVh {
  background-color: #669d38;
  border-color: #669d38;
  color: #fff;
}
.Button_fullWidth__YGnCJ {
  width: 100%;
}
.Button_loading__sDdK_ {
  cursor: not-allowed;
  pointer-events: none;
}
.shared_auth_container__qG_A4 {
  display: flex;
  width: 100%;
}
@media only screen and (min-width: 767px) {
  .shared_auth_container__qG_A4 {
    background-color: rgba(2, 29, 77, 0.99)
    border-radius: 8px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07),
      0 15px 35px 0 rgba(56, 56, 56, 0.2);
    height: auto;
    min-height: 600px;
    margin: 10vh auto;
    max-width: 90vw;
    width: 900px;
  }
  .shared_auth_aside__ms1p1,
  .shared_auth_content__t2BiJ {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.shared_auth_aside__ms1p1 {
  background-image: linear-gradient(209deg, #2704b2, #0d0040);
  color: #fff;
  padding: 40px;
  text-align: center;
  width: 320px;
}
@media only screen and (max-width: 1024px) {
  .shared_auth_aside__ms1p1 {
    display: none;
  }
}
.shared_auth_asideTitle__S1qBM {
  font-size: 32px;
  line-height: 1.25;
}
.shared_auth_asideSubtitle__BAQ1J {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.shared_auth_asideButton__Uh6HW {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 200px;
}
.shared_auth_content__t2BiJ {
  flex: 1 1;
  padding: 3vh 3vw;
}
.shared_auth_contentSubtitle__8BDwx {
  color: #383838;
  font-size: 16px;
  margin-bottom: 60px;
  margin-top: 10px;
}
.shared_auth_contentTitle__Iwznb {
  font-size: 36px;
  margin-bottom: 10px;
}
.shared_auth_date__H3di1 {
  display: flex;
  width: 100%;
  align-items: flex-end;
}
.shared_auth_dateChild__eZyGa {
  flex-basis: 100%;
}
.shared_auth_dateStart__o_DR3 {
  padding-right: 10px;
}
@media only screen and (max-width: 1024px) {
  .shared_auth_date__H3di1 {
    flex-wrap: wrap;
  }
}
.shared_auth_button__6ykOn,
.shared_auth_toLoginButton__Y5Ikc {
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;
}
.shared_auth_button__6ykOn:disabled,
.shared_auth_toLoginButton__Y5Ikc:disabled {
  background-color: #c2c2c2;
}
.shared_auth_toLoginButton__Y5Ikc {
  display: inline-block;
  width: auto;
  margin: auto 5px;
  color: #55872d;
  font-weight: 700;
}
.shared_auth_select__hwDnl {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
}
.shared_auth_forgotPasswordLabel__MFlaw {
  display: flex;
}
.shared_auth_forgotPassword__6_ImN {
  color: #55872d;
  font-size: 12px;
  font-weight: 400;
  margin-left: auto;
  text-transform: none;
  text-decoration: none;
}
.shared_auth_logo____xWt {
  display: flex;
  align-items: center;
}
.shared_auth_logo____xWt img {
  width: 120px;
  margin-left: 20px;
}
.shared_auth_noResize__1mJg5 {
  resize: none;
}
.shared_auth_fieldTrigger___U9pP {
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: right;
  float: right;
  color: #f27236;
  cursor: pointer;
}
label.shared_auth_radio__TDS9u {
  cursor: pointer;
  margin: 5px 0;
}
label.shared_auth_radio__TDS9u input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
label.shared_auth_radio__TDS9u input:checked + div {
  border-color: #ffffff !important;
  color: #f9f8fb;
}
label.shared_auth_radio__TDS9u div {
  width: 100%;
  padding: 7px 14px;
  border: 2px solid #eee;
  display: inline-block;
  color: #bbbbbb;
  border-radius: 3px;
}
label.shared_auth_radio__TDS9u div span {
  font-size: 14px;
  font-weight: 700;
}
label.shared_auth_radio__TDS9u div p {
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
}
.shared_auth_checkbox__CZs6e {
  text-transform: uppercase;
  font-weight: 600;
}
.shared_auth_checkbox__CZs6e input[type="checkbox"] {
  transform: scale(1.5);
}
.shared_auth_passwordMeter__vfDuA {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 20px;
}
.shared_auth_passwordMeter__vfDuA .shared_auth_item__bPv_M {
  color: #f27236;
  font-size: 0.8rem;
  text-transform: capitalize;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .shared_auth_passwordMeter__vfDuA .shared_auth_item__bPv_M {
    text-align: center;
  }
}
.shared_auth_quickNotice__RLlal {
  color: red;
  padding: 5px 20px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 20px;
}
.shared_auth_quickNotice__RLlal a {
  color: inherit;
}
.shared_auth_quickNotice__RLlal a.shared_auth_quickNoticeBtn__gTeZj {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: #000967;
  padding: 5px;
  border-radius: 3px;
}
.shared_auth_marginRight100__XaQuO {
  margin-right: 100px;
}
